# Staging directory
/staging
/staging/*
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# RStudio files
.Rproj.user/
.Rproj.user
# Mac trash files
.DS_Store
*/.DS_Store
.httr-oauth
